body {
    background-color: #b6b6b6;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    margin: 0 0 0 120px;
    border-left: 3px solid;
    padding: 2px 5px;
}
header {
    padding: 20px 35px;
    background-color: #242424;
    border-radius: 0 0 7px 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #b6b6b6;
    margin: 0;
}
header a {
    text-decoration: none;
    color: #b6b6b6;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}
.navbar a:hover {
    text-decoration: underline;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    border-radius: 7px 7px 0 0;
    bottom: 0;
    background-color: #242424;
    color: #b6b6b6;
    width: 100%;
    padding: 20px 35px;
}
.code-screen img {
    width: 100%;
    height: 415px;
    object-fit: cover;
    filter: blur(3px) grayscale(100%);
    display: block;
    opacity: 0.5;
}
.about {
    margin: 30px 100px;
    padding: 0 50px;
}
.work {
    margin: 30px 100px;
    padding: 10px 50px;
}
.work img {
    position: relative;
    border-style: solid;
    margin: 15px;
    height: 500px;
    filter: grayscale(100%);
}
.work img:hover {
    transition: 0.2s ease-in;
    filter: grayscale(0%);
}
footer h2 {
    font-weight: bold;
    font-size: 36px;
    color: #b6b6b6;
    margin: 0;
}
footer a {
    text-decoration: none;
    color: #b6b6b6;
}
footer address {
    margin: 7px 0;
}
footer address ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
footer address ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}